<div class="bg-red-800 px-4 py-2 rounded my-2">
  <span class="font-bold text-white">{{this.title}}</span>
  <div class="text-gray-200">{{@content}}</div>
  <button {{on "click" this.close}}>Close</button>
</div>
